.aboutUs__Content {
  padding: 25px;

}

.aboutUs__Content-tittle {
  text-align: center;
  margin: 25px;
}

.tiform{
  color: white;
}

.botonf{
  width: 250px;
  align-content: center;
}

.centro{
  width: 100%;
  text-align: center;
}
