.aboutUs__Content {
  padding: 25px;

}

.aboutUs__Content-tittle {
  text-align: center;
  margin: 25px;
}

.contform{
  align-content: center;
  margin: 25px;
}

.listi{
  background-color: white;
}