
@import './MainContent.scss';
.carousel-vehicles {
  /* width: 100vw; */
  overflow: auto;
  position: relative;
}

.carousel__container {
  /* white-space: wrap; */
  margin-top: 20px;
  margin-left: 15px;
  padding-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

