@import "./Container.scss";

header {
  background-color: #052d37;  /*1d252c*/
  color: white;
  display: flex;
  justify-content: space-between;
  height: 70px;
  align-items: center;
  justify-content: center;
  height: auto;
}

header a{
  color: white;
  text-decoration: none;
  display: flex;
  height: inherit;
  align-items: center;
  padding: 0 10px;
}

header ol {
  display: flex;
  height: inherit;
}

header ol li { 
  height: inherit;
}

.header__img {
    width: 200px;
    margin-top: 10px;
    margin-left: 10px;
  }

  .header__menu {
    margin-right: 30px;
  }

  .header__menu ul {
    display: none;
    list-style: none;
    padding: 0;
    position: absolute;
    width: 100px;
    text-align: right;
    margin: 0px 0px 0px -14px;
  }

  .header__menu:hover ul,
    ul:hover {
    display: block;
    padding-top: 10px;
    width: 150px;
    background-color:rgba(0, 0, 0, .5);
    border-radius: 10px;
    height: 100px; 
  }


  .header__menu a {
    color: white;
    text-decoration: none;
    margin: 10px;
  }

  .header__menu li a:hover {
    text-decoration: underline;
  }

  .header__menu--profile {
    margin-right: 25px;
    display: flex;
    align-items: center;
  }

  .header__menu--profile img {
    margin-right: 8px;

  }

  .header__menu--profile p {
    margin: 0px;
    color: white;
  }