body{
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0px;
  background-color: #1d252c;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Fjalla One', sans-serif;
  font-weight: normal;
  /* font-style: italic; */
}

h1{
  font-size: 40px;
  line-height: 1.5;
  letter-spacing: -.2px;
  color: white;
  margin: 0;
  /* text-transform: uppercase; */
}


h2{
  text-transform: uppercase;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  font-size: 24px;
}

header {
  background-color: #052d37;  /*1d252c*/
  color: white;
  display: flex;
  justify-content: space-between;
  height: 70px;
  align-items: center;
  justify-content: center;
  height: auto;
}

.container {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  max-width: 1110px;
  flex: 1;
  margin: 0 auto;
  height: inherit;
  flex-wrap: inherit;
  padding: 25px;
}


header a{
  color: white;
  text-decoration: none;
  display: flex;
  height: inherit;
  align-items: center;
  padding: 0 10px;
}

header ol {
  display: flex;
  height: inherit;
}

header ol li { 
  height: inherit;
}

.menu { 
  height: inherit;
  margin: 0 auto;
}

.main {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /*align-items: center;*/
    width: 100%;
}

.main__title {
  color: white;
  font-size: 25px;
  margin: 0 auto;
  margin-bottom: 25px;
}

.input {
  background-color: rgba(255, 255, 255, .1);
  border: 2px solid white;
  border-radius: 50px;
  color: white;
  font-family: 'Mulish', sans-serif;
  font-size: 16px;
  height: 50px;
  outline: none;
  padding: 0 20px;
}

::placeholder {
  color: rgba(197, 197, 197, 0.555);
}

.categories__tittle {
  color: white;
  font-size: 24px;
  justify-content: start;
}

.carousel {
  /* width: 100vw; */
  overflow: auto;
  position: relative;
}

.carousel__container {
  /* white-space: wrap; */
  margin-top: 20px;
  padding-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.carousel-item {
  background-color: #2d4059;
  width: 200px;
  height: 250px;
  border-radius: 20px;
  overflow: hidden;
  justify-content: space-between;
  display: inline-block;
  cursor: pointer;
  transition: 450ms all;
  transform-origin: center left;
  position: relative;
  margin: 30px 35px 35px 0;
}

.carousel-item:hover~.carousel-item {
  transform: translate3d(20px, 0, 0);
}

.carousel__container:hover .carousel-item {
  opacity: 0.3;
}

.carousel__container:hover .carousel-item:hover {
  transform: scale(1.25);
  opacity: 1;
}

.carousel-item__img {
  width: 200px;
  height: 250px;
  object-fit: cover;
}

.carousel-item__details {
  background: linear-gradient(to top, rgba(0, 0, 0, .9) 0%, rgba(0, 0, 0, 1) 100%, );
  font-size: 10px;
  opacity: 1;
  transition: 450ms opacity;
  padding: 10px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  color: white;
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
}


.carousel-item__details div img{
  width: 30px;
}

.carousel-item__details--title {
  font-weight: bold;
  font-size: 14px;
  margin: 5px 0 0;
}

.carousel-item__details--subtitle {
  margin: 0;
}


footer{
  color: white;
  background-color: #052d37 ;/*#1b2127*/
  margin-top: 50px;
}

.footer-content {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.footer-left {
  justify-self: flex-start;
}

.footer-rigth {
  justify-self: flex-end;
}
footer a{
  color: white;

}


.containre__grid {
  display: grid;
  width: 100%;
  grid-template-columns: 300px 1fr;
  grid-gap: 15px;
}

.main__filter {
  width: 100%;
  height: auto;
  background-color: #e5e5e5;
  border-radius: 10px;
  display: grid;
  grid-template-rows: 50px repeat(4, 100px) 50px;
  grid-gap: 15xp;
}
/*decdc3*/
.main__content {
  background-color: #f6f5f5;
  width: 100%;
  min-height: 500px;
  border-radius: 10px;
}

.main__filter-title {
  color: #dabc89;
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

.filter__container {
  padding: 10px;
}

.filter-subtitles {
  color: #2d4059;
  font-size: 1.5em;
  font-weight: bold;
}

.main__filter-button {
  width: 100%;
  padding: 25px;
}

.main__filter-button button {
  width: 100%;
}