
.carousel-item_1 {
  background-color: #2d4059;
  width: 250px;
  height: 150px;
  border-radius: 20px;
  overflow: hidden;
  justify-content: space-between;
  display: inline-block;
  cursor: pointer;
  transition: 200ms all;
  transform-origin:35% 50%;
  position: relative;
  margin: 30px 25px 5px 0;
}

.carousel-item_1:hover~.carousel-item_1 {
  transform: translate3d(20px, 0, 0);
}

.carousel__container:hover .carousel-item_1 {
  opacity: 0.3;
}

.carousel__container:hover .carousel-item_1:hover {
  transform: scale(1.25);
  opacity: 1;
}

.carousel-item__img {
  width: 250px;
  height: 150px;
  object-fit: cover;
}

.carousel-item__details {
  background: linear-gradient(to top, rgba(0, 0, 0, .25) 25%, rgba(0, 0, 0, .7) 100%, );
  font-size: 10px;
  opacity: 1;
  transition: 450ms opacity;
  padding: 10px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  color: white;
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
}


.carousel-item__details div img{
  width: 30px;
}

.carousel-item__details--title {
  font-weight: bold;
  font-size: 14px;
  margin: 5px 0 0;
}

.carousel-item__details--subtitle {
  margin: 0;

}