.tiform{
  color: white;
}

.section__insert-button {
  padding: 25px 0;
}

.botonf{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.botonf > button{
  width: 200px;
  margin: 0;
}

.centro{
  width: 100%;
  text-align: center;
}