body{
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0px;
  background-color: #1d252c;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Fjalla One', sans-serif;
  font-weight: normal;
  /* font-style: italic; */
}

h1{
  font-size: 40px;
  line-height: 1.5;
  letter-spacing: -.2px;
  color: white;
  margin: 0;
  /* text-transform: uppercase; */
}

h2{
  text-transform: uppercase;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  font-size: 24px;
} 

.pad{
  padding: 50px;
}

.input{
  position: relative;
}